<div id="head_content">
    <img id="logo" src="./images/logo.png" />
    <div id="head_text">
        <br/> I miss you<br /> 종료된 서비스의 온라인 공동묘지<br /><br /> 한 시대를 풍미했던 버디버디, 싸이월드 미니홈피 등 그 이외에 종료된 수많은 서비스들.<br /> 각자의 사정이나 이유는 다르지만 종료되었다는 사실은 분명하고 이 사실을 애석해 할 유저들이 많은 것 또한 분명하다.<br /> 그래서 이를 기억하는 사람들을 위해 프로그램들의 열린 추모 공간을 만들었다.<br />
    </div>
    <div id="line">
    </div>
</div>

<div id="main_content">
    <% var imgs = ["grave_animalfarm","grave_buddybuddy","grave_cyworld","grave_freechal","grave_grandchase","grave_metoday","grave_o2jam","grave_puppyred","grave_qplay","grave_yahoo"] %>
        <% for(var i = 0 ; i < 10 ; i++) { %>
            <div style="width:251px; height: 200px; display: inline-block;">
                <img class="grave" id="<%=imgs[i] %>" src="./images/<%=imgs[i] %>.png" />
                <img class="grave_line" src="./images/dot_line.png" />
                <div class="icon">
                    <img class="flower_icon" id="flower_<%= i %>" src="./images/icon_flower.png" />
                    <img class="comment_icon" id="comment_<%= i %>" src="./images/icon_comment.png" />
                    <img class="share_icon" id="share_<%= i %>" src="./images/icon_share.png" />
                </div>
            </div>
            <% } %>
</div>

<div class="modal modal-center" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-center modal-80size">
        <div class="modal-content modal-80size">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <div id="modalcontent_wrapper">
                    <div id="imagepreview_wrapper">
                        <img src="" id="imagepreview" />
                    </div>

                    <div id="right_contents">

                        <div id="grave_title_line">
                        </div>

                        <div id="comment_list">

                        </div>
                        <form>
                            <input type="text" id="comment_input" placeholder="입력" onkeypress="return enterKey(event);" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    var imgs = ["grave_animalfarm", "grave_buddybuddy", "grave_cyworld", "grave_freechal", "grave_grandchase", "grave_metoday", "grave_o2jam", "grave_puppyred", "grave_qplay", "grave_yahoo"];;
    var idxId;
    var idx;

    function loadComment() {
        $.get("/loadcomment/" + idx, {},
            function(data) {
                $('#comment_list').html("");
                var count = 0;
                $.each(data, function(index, item) {
                    //alert(item.comment);
                    var inTag = "<div style=\"height:35px; display:block; \" >" + item.comment + "</div>";
                    $('#comment_list').
                    append(inTag);
                    count++;
                });
                //$('#comment_list').scrollTop(count*35);
                $('#comment_list').animate({
                    scrollTop: count * 35
                });
            }
        );
    }
    $(document).ready(function() {
        $(function() {
            $(".comment_icon").on("click", function() {
                idxId = $(this).attr('id').split('_');
                idx = parseInt(idxId[1]);
                $('#comment_input').val("");
                $('#imagepreview').attr('src', './images/' + imgs[idx] + ".png");
                $('.modal').removeClass('fade');
                $('#imagemodal').removeClass('fade');
                $("#imagemodal").modal('show').css({});
                //
                // $("#imagemodal").modal('show').css({
                //     'margin-top': function() { //vertical centering
                //         return -($(this).height() /3);
                //     }
                // });
                loadComment();
            });
            $("#comment_input").keypress(function(e) {
                if (e.keyCode == 13) {
                    if ($('#comment_input').val() != "") {
                        $.post("/newcomment", {
                                comment: $('#comment_input').val(),
                                index: idx
                            },
                            function(data) {
                                $('#comment_input').val("");
                                loadComment();
                            });
                        return false;
                    } else {
                        alert("댓글을 입력해주세요 ^_^");
                        return false;
                    }
                }
            });

        });
    });
</script>
