<div id="head_content">
    <img id="logo" src="./images/logo.png" />
    <div id="head_text">
        <br/> I miss you<br /> 종료된 서비스의 온라인 공동묘지<br /><br /> 한 시대를 풍미했던 버디버디, 싸이월드 미니홈피 등 그 이외에 종료된 수많은 서비스들.<br /> 각자의 사정이나 이유는 다르지만 종료되었다는 사실은 분명하고 이 사실을 애석해 할 유저들이 많은 것 또한 분명하다.<br /> 그래서 이를 기억하는 사람들을 위해 프로그램들의 열린 추모 공간을 만들었다.<br />
    </div>
    <div id="line">
    </div>
</div>

<div id="main_content">
    <table id="graves" align="center">
        <% var imgs = ["grave_animalfarm","grave_buddybuddy","grave_cyworld","grave_freechal","grave_grandchase","grave_metoday","grave_o2jam","grave_puppyred","grave_qplay","grave_yahoo"] %>
            <% for(var i = 0 ; i < 4 ; i++) {%>
                <tr id="g_rows<%= i %>">
                    <% for(var j = 0 ; j < 3 ; j++) {%>
                        <td id="g_cols<%= i %><%= j %>" width="280px" height="300px">
                            <% if (imgs.length > i*3+j) {%>
                                <img class="grave" id="<%=imgs[i*3+j] %>" src="./images/<%=imgs[i*3+j] %>.png" />
                                <img class="grave_line" src="./images/dot_line.png" />
                                <div class="icon">
                                    <img class="flower_icon" id="flower_<%= i %>_<%= j %>" src="./images/icon_flower.png" />
                                    <img class="comment_icon" id="comment_<%= i %>_<%= j %>" src="./images/icon_comment.png" />
                                    <img class="share_icon" id="share_<%= i %>_<%= j %>" src="./images/icon_share.png" />
                                </div <% } %>
                        </td>
                        <% } %>
                </tr>
                <% } %>
    </table>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullsize">
        <div class="modal-content">
            <div class="modal-body">
                <table id="comment_table" color="RED" width="800px">
                    <tr>
                        <td colspan="3">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="" id="imagepreview">
                        </td>
                        <td>
                            <div id="border_line">

                            </div>
                        </td>
                        <td>
                            <div id="right_contents">
                                <p id="grave_title">
                                </p>
                                <div id="grave_title_line">
                                </div>

                                <div id="comment_list">

                                </div>
                                <form>
                                    <input type="text" id="comment_input" placeholder="입력" onkeypress="return enterKey(event);" />
                                </form>
                            </div>
                        </td>
                        <td>
                        </td>

                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    /*
              function enterKey(e)
              {
                if(e.keyCode == 13)
                {
                  var cinput = document.getElementById("comment_input");
                  cinput.value="";
                  return false;
                }
                else {
                  return true;
                }
              }*/
    var imgs = ["grave_animalfarm", "grave_buddybuddy", "grave_cyworld", "grave_freechal", "grave_grandchase", "grave_metoday", "grave_o2jam", "grave_puppyred", "grave_qplay", "grave_yahoo"];;
    var idxId;
    var idx;

    function loadComment() {
        $.post("/loadcomment", {
                index: idx
            },
            function(data) {
                $('#comment_list').html("");
                $.each(data, function(index, item) {
                    //alert(item.comment);
                    $('#comment_list').append(item.comment).append("<br />");
                })

                //alert(data.length+" "+data);
                //        var parsedData = JSON.parse(data);

                //      alert(parsedData);
            }
        );
    }
    $(document).ready(function() {
        $(function() {
            $(".flower_icon").on("click", function() {
                idxId = $(this).attr('id').split('_', 3);
                idx = parseInt(idxId[1] * 3) + parseInt(idxId[2]);
                $('#comment_input').val("");
                $('#grave_title').html(imgs[idx]);
                $('#imagepreview').attr('src', './images/' + imgs[idx] + ".png");

                $("#imagemodal").modal('show').css({
                    'margin-top': function() { //vertical centering
                        return -($(this).height() / 5);
                    },
                });
                loadComment();
            });
            $("#comment_input").keypress(function(e) {
                if (e.keyCode == 13) {
                    $.post("/newcomment", {
                            comment: $('#comment_input').val(),
                            index: idx
                        },
                        function(data) {
                            $('#comment_input').val("");
                            loadComment();
                        });
                    return false;
                }
            });

        });
    });
</script>
